{% extends 'myapp/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'myapp/styles/style.css' %}">
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header>
  <h3><i class="fa-solid fa-handshake" style="color: #d896d2;"></i>Рекомендации</h3>
</header>
<div class="wrap">
  <ol>
    <li>Выбирайте парфюмерию, которая соответствует вашему типу кожи и имеет натуральные компоненты. Это поможет
      избежать аллергических реакций.</li>
    <li>При выборе средств гигиены обращайте внимание на их состав. Избегайте продуктов с парабенами, сульфатами и
      другими вредными химическими веществами.</li>
    <li>Пользуйтесь натуральными маслами для ухода за кожей. Они увлажняют и питают кожу, делая ее более здоровой и
      ухоженной.</li>
    <li>При выборе дезодоранта отдавайте предпочтение натуральным и безалкогольным средствам, чтобы избежать раздражения
      кожи.</li>
    <li>Не забывайте про индивидуальные особенности вашего тела при выборе парфюмерии и средств гигиены. Попробуйте
      несколько вариантов, прежде чем выбрать подходящий продукт.</li>
  </ol>
  <br>
  <div class="perfumery">
    <img src="{% static 'myapp/img/parf_1.png' %}" alt="">
    <img src="{% static 'myapp/img/prod_1.png' %}" alt="">
    <img src="{% static 'myapp/img/parf_2.png' %}" alt="">
    <img src="{% static 'myapp/img/prod_2.png' %}" alt="">
    <img src="{% static 'myapp/img/parf_3.png' %}" alt="">
  </div>
  
  {% endblock %}