{% extends 'myapp/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header>
    <h3><i class="fa-solid fa-book" style="color: #d896d2;"></i>О компании</h3>
  </header>
<div class="text">
    <p>Компания "Парфюмерия и средства гигиены" предлагает
        широкий ассортимент товаров для ухода за собой и создания <br>
        неповторимого образа. Наша компания заботится о красоте и здоровье
        наших клиентов, предлагая только качественные продукты от ведущих производителей.<br /></p>

    <p>В ассортименте нашей компании вы найдете широкий выбор
        парфюмерии, дезодорантов, средств для ухода за кожей и волосами, а также
        продукты для бережного ухода за телом. <br> Мы стремимся предложить
        нашим клиентам только самые передовые и инновационные продукты,
        которые помогут им чувствовать себя уверенно и привлекательно каждый день</p>

    {% endblock %}